{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просто Сайт</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header">
        <div class="header__logo">
            <img  class="header__logo__avatar" src="{% static 'images/avatar.jpg' %}" alt="аватар" title="Я">
        </div>
        <div class="header__welcomephrase">
            Просто сайт, ничего интересного
        </div>
        <div class="header__menu">
            <ul class="header__menu__list">
                <li><a href="index">Обо мне</a></li>
                <li><a href="study">Учился</a></li>
                <li><a href="work">Работал</a></li>
            </ul>
        </div>
    </header>
    <content>
        <div class="mainpage">
            <h2>Обо мне</h2>
            <div class="mainpage__content">
                <p>
                    Привет, меня зовут Георгий, мне 29. Живу в прекрасном городе Пермь. По образованию - программист,
                    по факту - являюсь менеджером. Но программирование забрасывать не намерен, поэтому стараюсь всеми
                    силами не только погружатся в новые технологии, но и пробовать их на практике. Естественно по мере
                    своих возможностей и наличию свободного времени.
                </p>
            </div>
            <div class="mainpage__contentdetailed">
                <h3>Зачем нужен этот сайт</h3>
                <p>
                    Данный сайт предназначен в первую очередь для знакомства с фреймворком Django, на котором он
                    написан, а так же для восстановления навыков программирования, которые с момента окончания
                    университета я уже позабыл (хотя и работал 5 лет программистом).
                </p>
                <h3>Навыки</h3>
                <p>
                    Итак, что я вроде бы умею:
                </p>
                <ul>
                    <li>
                        Математика во всех ее проявлениях, все таки магистратуру мехмата осилил;
                    </li>
                    <li>
                        Нейросети. Люблю нейросети.
                    </li>
                    <li>
                        ООП, куда же без него
                    </li>
                    <li>
                        Алгоритмическое мышление - есть
                    </li>
                    <li>
                        HTML5/CSS3 - ну, учил :)
                    </li>    
                    <li>
                        JavaScript - совсем поверхностно :(
                    </li>    
                    <li>
                        С# - тут намного лучше
                    </li>    
                    <li>
                        SQL - "могу писать сложные запросы"
                    </li>    
                    <li>
                        Проектирование приложений
                    </li>    
                    <li>
                        Проектирование баз данных
                    </li>    
                    <li>
                        Python 
                    </li>
                    <li>
                        Git, Jira, TFS, Redmine
                    </li>                    
                </ul>
                <h3>Хобби</h3>
                <p>
                    Что интересно на досуге:
                </p>
                <ul>
                    <li>
                        Из айтишного: ИИ, big data, deep machine learning, распознавание текста и образов
                    </li>
                    <li>
                        Моделизм (клеить и пытаться красить)
                    </li>
                    <li>
                        Стрельба из лука и страйкбол (сейчас уже реже)
                    </li>
                    <li>
                        PS4 вечерком, поиграть в РПГ или какой-нибудь Dark Souls
                    </li>    
                    <li>
                        Dungeons & Dragons в роли мастера и игрока
                    </li>                        
                </ul>        
                <h3>Заключение</h3>
                <p>
                    Надеюсь, скучный сайт не слишком Вас утомил, засим хочу откланятся
                </p>    
            </div>
        </div>
    </content>
    <footer class="footer">2017</footer>
</body>
</html>