{% extends "base.html" %}
{% block content %}
<content>
    <div class="mainpage">
        <h2>Обо мне</h2>
        <div class="mainpage__content">
            <p>
                Привет, меня зовут {{name}}, родился {{birthdate|date:'d F Y'}}, кажется это была {{birthdate|date:'l'}}. Сейчас живу в прекрасном городе Пермь. По образованию - программист,
                по факту - являюсь менеджером. Но программирование забрасывать не намерен, поэтому стараюсь всеми
                силами не только погружатся в новые технологии, но и пробовать их на практике. Естественно по мере
                своих возможностей и наличию свободного времени.
            </p>
        </div>
        <div class="mainpage__contentdetailed">
            <h3>Зачем нужен этот сайт</h3>
            <p>
                Данный сайт предназначен в первую очередь для знакомства с фреймворком Django, на котором он
                написан, а так же для восстановления навыков программирования, которые с момента окончания
                университета я уже позабыл (хотя и работал 5 лет программистом).
            </p>
            <h3>Навыки</h3>
            <p>
                Итак, что я вроде бы умею:
            </p>
            <ul>
                {% if skills %}
                    {% for skill in skills %}
                        <li>{{ skill.text }}</li>
                    {% endfor %}
                {% else %}
                    Судя по всему список моих навыков не доехал до вашего браузера :(
                {% endif %}
            </ul>
            <h3>Хобби</h3>
            <p>
                Что интересно на досуге:
            </p>
            <ul>
                {% if hobbies %}
                    {% for hobbie in hobbies %}
                        <li>{{ hobbie.text }}</li>
                    {% endfor %}
                {% else %}
                    Ошибка 404. Хобби не найдены :(
                {% endif %}                     
            </ul>        
            <h3>Заключение</h3>
            <p>
                Надеюсь, скучный сайт не слишком Вас утомил, засим хочу откланятся
            </p>    
        </div>
    </div>
</content>
{% endblock %}