{% extends "base.html" %}
{% load static %}
{% block content %}
<content>
    <div class="study__content">
        <h2>Места где учился</h2>
        <div class="study__content__innerblock">
            <table>
                <tr>
                    {% if studies %}
                        {% for study in studies %}
                            <td class = "study__content__innerblock_place">
                                <a href={{ study.site }}>
                                    <img src="{% static '' %}{{ study.image_path }}" alt= "{{ study.organization }}" title= "{{ study.organization }}">
                                </a>
                                <p>
                                    <a href="{{ study.site }}">{{ study.organization }}</a>
                                </p>
                            </td>
                        {% endfor %}
                    {% else %}
                        Нигде не учился
                    {% endif %}
                </tr>
            </table>                
        </div>
    </div>
</content>
{% endblock %}