{% extends "base.html" %}
{% load static %}
{% block content %}
<content>
    <div class="work__content">
        <h2>Места где работал</h2>
        <div class="work__content__innerblock">
            <table>
                <tr>
                    {% if works %}
                        {% for work in works %}
                            <td class = "work__content__innerblock_place">
                                <a href={{ work.site }}>
                                    <img src="{% static '' %}{{ work.image_path }}" alt= "{{ work.organization }}" title= "{{ work.organization }}">
                                </a>
                                <p>
                                    <a href="{{ work.site }}">{{ work.organization }}</a>
                                </p>
                            </td>
                        {% endfor %}
                    {% else %}
                        Нигде не работал
                    {% endif %}
                </tr>
            </table>                
        </div>
    </div>
</content>
{% endblock %}