{% extends "base.html" %}
{% load static %}
{% block content %}
<content>
    <div class="work__content">
        <h2>Места где работал</h2>
        <div class="work__content__innerblock">
            <table>
                <tr>
                    {% if works %}
                        {% for work in works %}
                            <td class = "work__content__innerblock_place">
                                <a href="/work/{{ work.id }}">
                                    <img src="{% static '' %}{{ work.organization.image_path }}" alt= "{{ work.organization.name }}" title= "{{ work.organization.name }}">
                                </a>
                                <p>
                                    <a href="/work/{{ work.id }}">{{ work.organization.name }}</a>
                                </p>
                            </td>
                        {% endfor %}
                    {% else %}
                        Нигде не работал
                    {% endif %}
                </tr>
            </table>                
        </div>
    </div>
</content>
{% endblock %}